{% extends 'base.html.twig' %}

{% block title %}Nouvelle Formation{% endblock %}

{% block body %}
<main>
    <h1>Créer une nouvelle Formation</h1>

    {{ include('create_forma/_form.html.twig') }}
    <div class="connexion">
        <button class="connectbtn"><a href="{{ path('app_create_forma_index') }}">Revenir à la liste</a></button>
    </div>
</main>
{% endblock %}
