{% extends 'base.html.twig' %}

{% block title %}Nouvelle Formation{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Formation</h1>

    {{ include('create_forma/_form.html.twig') }}

    <a href="{{ path('app_create_forma_index') }}">Revenir à la liste</a>
{% endblock %}
