.logo {
  margin-left: 10vw;
  width: 50px;

}
header {
  background: linear-gradient(#E5FAF5,#9EF3DC);
  color: #15A7A9;
  font-family: 'Playfair Display', serif ;
  padding-bottom: 20px;
}
.navbar-collapse {
  margin-top: 10px;
  margin-left: 15vw;
  
}

.navbar-toggler {
  margin-right: 45vw;
  margin-top: 10px;
}
.connect a{
  display: inline;
  outline: none;
  text-decoration: none;
  font-size: 15px;
  color: #15A7A9;
}
.connect {
  position: absolute;
  top: 5px;
  right: 5px;
}
.navbar {
  font-size: 20px;
  color: #15A7A9;
}
/**********main**********/
main {
  font-family: 'Poppins', sans empattement ;
  color: #15A7A9;
  margin-left: 10vw;
  margin-right: 10vw;
}
h1 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #347273;
}
h2, h3, h4 {
  color: #347273;
  padding-bottom: 10px;
}

button {
  background: #96DEF9;
  border-style: solid;
  border-radius: 20px;
  border-color: #347273;
  color: #347273;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;   
}

button a {  
  text-decoration: none;
  outline: none;
}

button .connectbtn {  
  padding-top: 10px;
  margin-top: 30px;
}
label {
  display:block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pageco {
  display: inline-block;
  padding: 20px;
  border-style: solid;
  border-color: #15A7A9;
  border-radius: 20px;
  margin-bottom: 30px;
  
}
.class-termine {
  background-color: rgb(237, 247, 247);
}
.class-nontermine {
  background-color: white;
}

.pageco input {
  width: 20vw;
}

.connexion, .inscription {
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
}

.linkcgu a {
    outline: none;
    text-decoration: none;
    font-size: 15px;
    color: #15A7A9;
}
.linkcgu {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.presentation {
  padding-top: 30px;
  margin-left: 10vw;
  margin-right: 15vw;
}
.actuformation h4 {
  text-align: center;
}
.container {
  margin-left: 5vw;
  margin-right: 5vw;
}

.article-formation {
  border-style: solid;
  border-radius: 20px;
  border-color: #347273;
  border-width: 2px;
  width: 45vw; 
  margin: 10px;  
}
.img-top {
  text-align: center;
  
}
.card { 
  width: 20vw;
}
img {  
  margin-top: 10px;
  margin-bottom: 10px;
  width: 10vw;
}
.titre {
  text-align: center;
}

.namesection {
  padding-top: 10px;
  text-decoration: #347273 underline;
}
.formcreat input {
  width: 30vw;
}
.formcreatmd input {
  width: 30vw;
  height: 20vh;
}
.formcreatxl textarea {
  width: 30vw;
  height: 50vh;
}
.table {
  margin-left: 10px;
  margin-right: 10px;
}

/**********footer**********/

.retour {
  text-align: right;
  margin-right: 20px;  
}
.retour a{
  color:  #347273;
}
footer {
  background: linear-gradient(#9EF3DC, #E5FAF5);
  height: 60px;
  font-family: 'Playfair Display', serif ;
}
.copyright {
  color: #15A7A9;
  font-size: 15px;
  
}
.listfooter {
  text-align: center;
}
.listfooter a{
  display: inline;
  outline: none;
  text-decoration: none;
  font-size: 15px;
  color: #15A7A9;
  padding-left: 10px;
}

/**********mediaquery**********/
@media screen and (max-width : 1023px) {
.logolight {
  display: none;
}
.copyright {
  text-align: center;
}
}
@media screen and (max-width : 800px) {
.navbar {
  font-size: 15px; 
}
}
@media screen and (min-width : 1024px) {
.logo {
  width: 70px;
  
}
.navbar {
  font-size: 25px;
  color: #15A7A9;  
}

.connect a{
  font-size: 20px;
  
}
.copyright {
  text-align: center;
}
.logolight {
  width: 40px;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}
.listfooter {
  text-align: right;
  padding-top: 20px;
  margin-right: 20px;
}
footer {
  height: 80px;
}
.article-formation {
  width: 20vw;
  height: 60vh;
}
}