<div class="connexion">
{{ form_start(form) }}
    <div class="pageco">
            <div class="formcreat">{{ form_row(form.name) }}</div>

            <button type="submit" class="connectbtn">{{ button_label|default('Enregistrer') }}</button>
    </div>
    
{{ form_end(form) }}
</div>
