{% extends 'base.html.twig' %}

{% block title %}Nouvelle Section{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Section</h1>

    {{ include('create_section/_form.html.twig') }}

    <button class="connectbtn">
    <a href="{{ path('app_create_forma_new') }}">Retour création formation</a>
    </button>
    <button class="connectbtn">
    <a href="{{ path('app_create_section_index') }}">Revenir à la liste</a>
    </button>
{% endblock %}
