  <div class="retour">
    <a href="#" class="btn">Haut de page ↑</a>
  </div>
<footer>
  <img class=logolight src="assets/ressources/logo.png" alt="ECOIT, vers un web eco-responsable!">
  <div class=listfooter>
    <a href={{ path ('app_mentionslegales') }}>Mentions Légales</a>
    <a href="plansite.php">Plan du site</a>
    <a href="contact.php">Contact</a>
  </div>
  <div class="copyright"> © ECOIT 2022 </div>
</footer>