  <div class="retour">
    <a href="#" class="btn">Haut de page ↑</a>
  </div>
<footer>
  <img class="logolight" src="{{ asset('assets/ressources/logo.png') }}" alt="ECOIT, vers un web eco-responsable!">
  <div class="listfooter">
    <a href={{ path ('app_mentionslegales') }}>Mentions Légales</a>    
    <a href={{ path ('app_contact') }}>Contact</a>
  </div>
  <div class="copyright"><p> © ECOIT 2022<p></div>
</footer>