{% extends 'base.html.twig' %}

{% block title %}Hello CGUController!{% endblock %}

{% block body %}
<main>
<h1>Conditions Générales d'Utilisation</h1>
<div class="textlegal">
  <h2>Définitions</h2>
  <p>Les Parties conviennent et acceptent que les termes suivants utilisés avec une majuscule, 
  au singulier et/ou au pluriel, auront, dans le cadre des présentes Conditions Générales 
  d'Utilisation, la signification définie ci-après :</p>
  <ul>
    <li>« Contrat » : désigne les présentes Conditions Générales d'Utilisation ainsi que la 
      Politique de protection des données personnelles ;</li>
    <li>« Membre » : désigne indifféremment le Membre Apprenant et le Membre Instructeur ;</li>
    <li>« Membre Apprenant » désigne le membre ayant un compte sur notre Plateforme pour accéder 
      aux formations gratuites de notre Plateforme ;</li>
    <li>« Membre Instructeur » désigne le membre ayant un compte sur notre Plateforme pour créer, 
      publier et gérer ses formations ;</li>
    <li>« Plateforme » : plateforme numérique de type site Web et/ou application mobile permettant 
      l'accès au Service ainsi que son utilisation ;</li>
    <li>« Utilisateur » : désigne toute personne qui utilise la Plateforme, qu'elle soit un Visiteur ou un Membre ;</li>
    <li>« Visiteur » : désigne toute personne, internaute, naviguant sur la Plateforme sans création de compte associé.</li>
  </ul>
  <p>Les présentes Conditions Générales d'Utilisation (ci-après les "CGU") régissent nos rapports 
    avec vous, personne accédant à la Plateforme, applicables durant votre utilisation de la 
    Plateforme et, si vous êtes un Membre jusqu'à désactivation de votre compte. Si vous n'êtes 
    pas d'accord avec les termes des CGU il vous est vivement recommandé de ne pas utiliser notre Plateforme et nos services.</p>
  <p>En naviguant sur la Plateforme, si vous êtes un Visiteur, vous reconnaissez avoir pris 
    connaissance et accepté l'intégralité des présentes CGU et notre Politique de protection des 
    données personnelles.</p>
  <p>Nous vous encourageons à consulter les « Conditions Générales d'Utilisation » avant votre 
    première utilisation de notre Plateforme et régulièrement lors de leurs mises à jour. Nous 
    pouvons en effet être amenés à modifier les présentes CGU. Si des modifications sont apportées, 
    nous vous informerons par email ou via notre Plateforme pour vous permettre d'examiner les 
    modifications avant qu'elles ne prennent effet. Si vous continuez à utiliser notre Plateforme 
    après la publication ou l'envoi d'un avis concernant les modifications apportées aux présentes 
    conditions, cela signifie que vous acceptez les mises à jour. Les CGU qui vous seront opposables 
    seront celles en vigueur lors de votre utilisation de la Plateforme.</p>
  <h2>Article 1. Inscription au service</h2>
  <h3>1.1 Conditions d'inscription à la Plateforme</h3>
  <p>Certaines fonctionnalités de la Plateforme nécessitent d'être inscrit et d'obtenir un compte. 
    Avant de pouvoir vous inscrire sur la Plateforme vous devez avoir lu et accepté les présentes CGU.<br>
    Vous déclarez avoir la capacité d'accepter les présentes conditions générales d'utilisation, 
    c'est-à-dire avoir plus de 16 ans et ne pas faire l'objet d'une mesure de protection juridique 
    des majeurs (mise sous sauvegarde de justice, sous tutelle ou sous curatelle).<br>
    Avant d'accéder à notre Plateforme, le consentement des mineurs de moins de 16 ans doit être 
    donné par le titulaire de l'autorité parentale.<br>
    Notre Plateforme ne prévoit aucunement l'inscription, la collecte ou le stockage de renseignement 
    relatifs à toute personne âgée de 15 ans ou moins.</p>
  <h3>1.2 Création de compte</h3>
  <p>Vous pourrez créer un compte des deux manières suivantes :</p>
  <ul>
    <li>Soit remplir manuellement, sur notre Plateforme, les champs obligatoires figurant sur le 
      formulaire d'inscription, à l'aide d'informations complètes et exactes. Pour enregistrer 
      votre compte, il vous faudra soumettre à ECOIT certaines informations à caractère personnel 
      telles que votre adresse email. </li>
    <li>Soit en déposant une candidature pour devenir membre instructeur via le formulaire et 
      après acceptation de l'administration. Vous recevrez ensuite un email avec un mot de passe 
      temporaire que vous devrez ensuite modifier dans l'espace Mon compte sur notre Plateforme.</li>
  </ul>
  <p>A l'occasion de la création de votre compte, et ce quelle que soit la méthode choisie pour 
    ce faire, vous vous engagez à fournir des informations personnelles vraies, exactes, complètes 
    et à les mettre à jour par l'intermédiaire de votre profil ou en en avertissant ECOIT, afin d'en 
    garantir la pertinence et l'exactitude tout au long de votre relation avec ECOIT.<br>
    En cas d'inscription par email, vous vous engagez à garder secret le mot de passe choisi lors de la 
    création de votre compte et à ne le communiquer à personne. En cas de perte ou divulgation de votre 
    mot de passe, vous vous engagez à en informer sans délai ECOIT. Vous êtes seul responsable de l'utilisation 
    faite de votre compte par un tiers, tant que vous n'avez pas expressément notifié ECOIT de la perte, 
    l'utilisation frauduleuse ou la divulgation de votre mot de passe à un tiers.<br>
    Vous vous engagez à ne pas créer ou utiliser, sous votre propre identité ou celle d'un tiers, 
    d'autres comptes que celui initialement créé. Vous ne pouvez pas autoriser des tiers à utiliser 
    votre compte. Vous ne pouvez pas céder ou, quoi qu'il en soit, transférer votre compte à toute 
    autre personne ou entité.<br>
    Les informations que vous avez fournies pendant l'inscription peuvent être corrigées pendant le 
    processus d'inscription en revenant aux écrans précédents et en corrigeant les informations erronées. 
    Vous acceptez de respecter les lois applicables lorsque vous utilisez les services, et vous ne 
    pouvez utiliser les services qu'à des fins légales. Le contenu présent sur la Plateforme doit 
    uniquement être utilisé pour un usage privé.<br>
    Lorsque vous choisissez votre mot de passe, vous ne devez pas utiliser de mot de passe simpliste 
    (par exemple : 123456).<br>
    L'identifiant et le mot de passe seront strictement personnels et confidentiels et vous devrez 
    les conserver et les utiliser de manière à en préserver la stricte confidentialité.
    Le Membre sera seul autorisé à accéder au Service à l'aide de son identifiant et son mot de passe. 
    Toute utilisation de la Plateforme au moyen de ses identifiants et mot de passe est réputée avoir 
    été faite par le Membre lui-même. En cas d'utilisation par un tiers de ses identifiant et 
    mot de passe, le Membre devra en avertir immédiatement ECOIT en lui adressant un email à l'adresse 
    suivante : ecoitgestion@gmail.com.<br>
    Le Membre qui a perdu son mot de passe devra se connecter sur le site d'ECOIT et suivre la procédure 
    en cliquant sur le lien « mot de passe oublié ».<br>
    Le Membre est responsable de l'utilisation de la Plateforme et de toutes les actions réalisées au 
    sein de la Plateforme avec son identifiant et son mot de passe, sauf si l'utilisation de son compte a 
    été faite après sa désinscription, ou après notification à ECOIT d'une utilisation abusive de son compte.</p>
    <h3>1.3. Conditions d'accès à la Plateforme</h3>
    <h4>1.3.1 Si vous n'avez pas de compte Membre</h4>
    <p>Si vous n'avez pas créé de compte Membre sur notre Plateforme, vous pouvez tout de même accéder 
      à la Plateforme mais vous ne pourrez pas bénéficier de toutes les fonctionnalités et vous n'aurez 
      pas de profil personnel. En effet certains accès ne vous seront pas autorisés, comme l'accès intégral 
      aux cours publiés par notre équipe pédagogique. Vous n'aurez pas de compte personnel. Les présentes 
      CGU vous sont opposables car elles régissent les conditions d'utilisation du Service, vous devez 
      en prendre connaissance et les accepter avant de poursuivre votre navigation sur la Plateforme.</p>
    <h4>1.3.2 Si vous avez déjà un compte membre apprenant</h4>
    <p>Les services ECOIT qui ne nécessite pas de paiement.<br>
    Si vous avez créé un compte Membre apprenant vous pouvez accéder à la Plateforme et à certaines 
    fonctionnalités. Suite à la création de votre compte, vous pourrez accéder à votre page de profil.<br>
    Vous pouvez accéder à tous les cours disponibles, vous aurez un suivi de formation en cochant 
    terminé après chaque cours, nous ne pourrons pas vous délivrer de certificat relatif au cours suivi. 
    Avant d'utiliser la Plateforme, vous devrez lire attentivement les présentes Conditions Générales 
    d'Utilisation.</p>
    <h2>Article 2. Informations fournies par vous</h2>
    <p>Chaque personne garantit à ECOIT que les informations qu'il fournit quant à son identité et 
      ses coordonnées dans le cadre du Service sont vraies, exactes, complètes et à jour. Vous êtes 
      seul responsable de la sincérité et de l'exactitude de ces informations. Vous vous engagez à 
      mettre à jour régulièrement l'ensemble des informations afin de préserver leur exactitude.<br>
      ECOIT ne pourra en aucun cas être tenue responsable des erreurs, omissions, imprécisions pouvant 
      être relevées dans les informations que vous nous avez fournies, ni du préjudice pouvant éventuellement 
      en découler pour les autres Utilisateurs ou pour des tiers.<br>
      Vous êtes responsable de toute l'activité qui se déroule sur votre compte, et vous acceptez de 
      préserver à tout moment la sécurité et le secret de votre identifiant et de votre mot de passe. 
      Vous ne pouvez posséder qu'un seul compte.</p>
    <h2>Article 3. Propriété intellectuelle</h2>
    <h3>3.1. Propriété intellectuelle afférente au Service, à notre Plateforme et aux éléments qui les composent</h3>
    <p>A l'exception des cours réalisés par les Utilisateurs et/ou par les Partenaires d'ECOIT, l'ensemble 
      des éléments techniques, graphiques, textuels ou autres constituant le Service et/ou notre Plateforme 
      (textes, graphismes, logiciels, fichiers multimédias, photographies, images, vidéos, sons, plans, 
      charte graphique, technologie(s), codes sources, noms, marques, logos, visuels, bases de 
      données, etc.) ainsi que notre Plateforme et le Service eux-mêmes sont la propriété exclusive d'ECOIT.<br>
      L'Utilisateur reconnaît qu'aucune propriété ne lui est transmise, et qu'aucun droit ou licence 
      ne lui est accordé(e), en dehors d'un droit d'utiliser le Service conformément aux présentes 
      pendant la durée du Contrat, et des droits d'utilisation des cours qui lui sont concédés en vertu 
      des licences Creative Commons visées à l'article 4. ci-après.<br>
      En conséquence, sauf autorisation expresse et préalable d'ECOIT et/ou sauf licence Creative 
      Commons l'y autorisant, l'Utilisateur s'engage à ne pas :</p>
    <ul>
      <li>Reproduire, à des fins commerciales ou non, des cours présents au sein du Service (à l'exception 
        de ses propres cours) et/ou les éléments techniques, graphiques, textuels ou autres constituant le 
        Service et/ou notre Plateforme ;</li>
      <li>Intégrer tout ou partie du contenu du Service et/ou de notre Plateforme dans un site tiers, 
        à des fins commerciales ou non ;</li>
      <li>Utiliser un robot, notamment d'exploration (spider), une application de recherche ou de 
        récupération de sites Web ou tout autre moyen permettant d'extraire, réutiliser ou d'indexer 
        tout ou partie du contenu du Service et/ou de notre Plateforme ;</li>
      <li>Collecter les informations sur les Utilisateurs pour leur envoyer des messages non sollicités 
        et/ou les intégrer au sein d'un service de référencement ou équivalent, gratuit ou payant ;</li>
      <li>Copier les cours présents au sein du Service (à l'exception de ses propres cours) et/ou les 
        éléments techniques, graphiques, textuels ou autres constituant le service et/ou notre Plateforme 
        sur des supports de toute nature permettant de reconstituer tout ou partie des fichiers d'origine.</li>
    </ul>
    <p>Toute utilisation non expressément autorisée d'éléments du Service et/ou de notre Plateforme 
      engage la responsabilité civile et/ou pénale de son auteur et sera susceptible d'entraîner des 
      poursuites judiciaires à son encontre.</p>
    <h3>3.2. Propriété intellectuelle afférente aux contenus publiés par l'Utilisateur au sein du Service</h3>
    <p>3.2.1. En contrepartie de l'usage du Service, et quelle que soit la licence Creative Commons 
      à laquelle le cours est soumis par ailleurs, les Membres accordent à ECOIT une licence mondiale, 
      non-exclusive, transférable et pouvant donner lieu à l'octroi d'une sous-licence, conférant à 
      ECOIT le droit de copier, stocker, corriger, adapter et diffuser l'ensemble des contenus (en ce 
      compris, les cours, les Projets et toute autre activité réalisée par les Membres au sein du 
      Service) fournis par le Membre au sein du Service. Cette licence est concédée au fur et à mesure 
      de la publication des éléments concernés, aux seules fins du bon fonctionnement du Service.</p>
    <p>3.2.2. Les Membres susmentionnés garantissent qu'ils disposent des droits de propriété intellectuelle 
      et des droits de la personnalité (et en particulier, le droit à l'image) nécessaires à la publication 
      des contenus (en ce compris, les cours) qu'ils publient au sein du Service.<br>
      Ils garantissent également que les contenus qu'ils publient au sein du Service ne contiennent 
      rien qui soit contraire aux droits des tiers et aux lois en vigueur, et notamment aux dispositions 
      relatives à la diffamation, à l'injure, à la vie privée, au droit à l'image, à l'atteinte aux bonnes 
      mœurs ou à la contrefaçon.<br>
      Vous garantissez ainsi ECOIT contre tout recours éventuel d'un tiers concernant la publication 
      desdits contenus (en ce compris, les cours) au sein du Service.</p>
    <h2>Article 4. Obligations des Utilisateurs</h2>
    <p>Dans le cadre de l'utilisation de la Plateforme, nous vous demandons de vous engager à :</p>
    <ul>
      <li>Garantir l'exactitude, l'intégrité et la légalité des informations que vous fournissez sur 
        la Plateforme quant à votre identité et vos coordonnées ;</li>
      <li>Garantir le bon usage de la Plateforme ;</li>
      <li>Ne créer qu'un seul compte au sein de la Plateforme ;</li>
      <li>S'abstenir de saisir des informations et/ou contenus malveillants, dénigrants,diffamatoires, 
        injurieux, obscènes, pornographiques, violents, à caractère raciste, xénophobe, discriminatoire,
        volontairement trompeurs, illicites et/ou contraires à l'ordre public ou aux bonnes mœurs ;</li>
      <li>Respecter les droits des tiers, et notamment le droit de chacun au respect de sa vie privée, 
        de son image et de ses autres droits de la personnalité, ainsi que les droits de propriété 
        intellectuelle (droit d'auteur,droits voisins, droit sur les bases de données, droit des marques, 
        droit des brevets, dessins ou modèles,secret de fabrique, etc.) ;</li>
      <li>Ne pas usurper la qualité, l'attribut ou l'identifiant d'un autre Utilisateur ou d'un tiers de 
        nature à induire en erreur ou à créer une confusion quelconque quant à son identité, à la 
        provenance des informations, contenus qu'il diffuse ou transmet au sein de la Plateforme ;</li>
      <li>Ne pas altérer ou perturber l'intégrité de la Plateforme et/ou des données qui y sont contenues ;</li>
      <li>Ne pas tenter d'obtenir un accès non autorisé à la Plateforme ou aux systèmes ou réseaux 
        qui lui sont associés ou d'intercepter des données ;</li>
      <li>Utiliser la Plateforme dans le respect des législations et réglementations nationales et/ou 
        internationales applicables.</li>
    </ul>
    <p>En cas de manquement à l'une de ces obligations, nous nous réservons le droit de suspendre 
      temporairement ou définitivement le compte de l'Utilisateur.</p>
    <h2>Article 5. Responsabilité d'ECOIT</h2>
    <h3>5.1. A l'égard des informations et/ou contenus publiés au sein de la Plateforme par les Utilisateurs</h3>
    <p>Les cours créés par les Membres Instructeurs, les informations et contenus publiés par les 
      Utilisateurs au sein de la Plateforme ne sont pas contrôlés en amont par ECOIT avant leur 
      publication au sein de la Plateforme. En revanche, ils seront susceptibles d'être contrôlés a 
      posteriori par ECOIT.<br>
      En notre qualité d'hébergeur de ces informations et/ou contenus mis en ligne par l'Utilisateur 
      par l'intermédiaire de notre Plateforme, nous sommes soumis au régime de responsabilité atténuée 
      prévu aux articles 6.I.2 et suivants de la loi nº2004-575 du 21 juin 2004 pour la Confiance dans 
      l'Économie Numérique. Nous pourrons, dans ce cadre, supprimer les Informations et/ou contenus 
      manifestement illicites qui nous seront notifiés.</p>
    <h3>5.2. En cas d'inexécution de nos obligations</h3>
    <p>ECOIT ne sera responsable que des dommages directs subis par les Utilisateurs, dont il sera 
      établi qu'ils résultent de l'inexécution nos obligations.<br>
      En revanche, nous ne saurons en aucun cas être tenus responsable :</p>
    <ul>
      <li>Des dommages qui résulteraient du fait de l'Utilisateur, de difficultés inhérentes au 
        fonctionnement du réseau Internet et plus généralement des réseaux de télécommunication, 
        quelle que soit leur nature, du fait d'un tiers ou d'un cas de force majeure ;</li>
      <li>Des dommages indirects résultant de l'utilisation de la Plateforme, ceux-ci étant définis 
        de façon non limitative comme les pertes d'exploitation (chiffre d'affaires, revenus ou 
        bénéfices), les pertes d'opportunités, les préjudices d'image ou de réputation, préjudice 
        commercial ou économique ;</li>
      <li>De toute perte de données subie par l'Utilisateur, même si elle est du fait d'ECOIT.</li>
    </ul>
    <h2>Article 6. Interruption du service pour maintenance ou amélioration</h2>
    <p>Nous nous engageons à mettre tout en œuvre pour assurer le bon fonctionnement de la Plateforme 
      et son accessibilité mais nous ne sommes tenus qu'à une obligation de moyens concernant la 
      continuité de l'accès au Service. Nous ne pouvons garantir la pérennité ou les performances de la 
      Plateforme.<br>
      En cas de mise à jour de la Plateforme pour une évolution technique, notre Plateforme sera 
      inaccessible temporairement.<br>
      L'accès au Service pourra être interrompu pour des raisons notamment de maintenance, de mise à 
      jour et en cas d'urgence.<br>
      Plus généralement, l'interruption du Service quel que soit la cause, la durée ou la fréquence, 
      n'engagera pas notre responsabilité et ne donnera droit à aucune indemnité à l'Utilisateur.<br>
      En conséquence, nous ne pouvons être tenu pour responsable de la perte d'argent, ou de réputation, 
      ni des dommages spéciaux, indirects ou induits résultant de l'interruption du Service. De même, 
      nous ne pourrons être tenus pour responsable des éventuelles dégradations de matériel, logiciel 
      ou données (exemple : contamination virale) subies par l'Utilisateur du fait de son utilisation 
      du Service.<br>
      Pour éviter autant que possible des désagréments, vous devez vous assurer de la réalisation 
      régulière de sauvegardes concernant vos informations, contenus et logiciels.<br>
      Vous reconnaissez utiliser le Service, mais un "bug" de notre Plateforme peut vous faire perdre 
      certaines de vos données, les altérer ou les exposer. Nous nous engageons cependant à tout 
      mettre en oeuvre pour les restaurer dans la mesure du possible et à vous garantir un accès 
      à la Plateforme le plus rapidement.</p>
    <h2>Article 7. Inscription et droits sur le compte Utilisateur</h2>
    <h3>7.1. Par un Membre</h3>
    <p>Tous les Membres de notre Plateforme disposent d'un droit d'accès, de modification ou de 
      suppression de leur compte.<br>
      Si vous souhaitez vous désinscrire de notre Plateforme, veuillez cliquer sur le lien « je 
      veux supprimer mon compte » dans l'onglet du profil membre ou en nous contactant par email à 
      l'adresse ecoitgestion@gmail.com. Votre demande de suppression de compte entraînera la suppression 
      de vos données personnelles de nos bases de données.</p>
    <h3>7.2. Par ECOIT</h3>
    <p>Si une demande d'inscription à nos services est effectuée par un mineur sans le consentement 
      préalable de son responsable légal, nous pourrons bloquer l'accès au Compte jusqu'à ce que le 
      consentement soit obtenu.<br>
      Lorsque nous remarquons qu'un Membre de la Plateforme ne respecte pas les présentes CGU, nous 
      prendrons contact avec lui pour l'avertir qu'une sanction à son égard peut être prise, notamment 
      la suspension de son compte.<br> 
      Si aucune solution ne parvient à être trouvée, nous serons dans l'obligation de désactiver 
      votre compte pour une durée temporaire ou définitive et nous prendrons contact avec vous au 
      préalable par email.</p>
    <h2>Article 8. Force majeure</h2>
    <p>Aucune des parties ne sera responsable vis-à-vis de l'autre partie d'un retard d'exécution ou 
      d'une inexécution en raison de survenance d'un événement en dehors du contrôle des parties qui 
      ne pouvait être raisonnablement prévu lors de l'acceptation des CGU et dont les effets ne peuvent 
      pas être évités par des mesures appropriées.<br>
      Le cas de force majeure suspend les obligations de la partie concernée pendant le temps où 
      jouera la force majeure si cet évènement est temporaire. Néanmoins, les parties s'efforceront 
      d'en minimiser dans toute la mesure du possible les conséquences. A défaut, si l'empêchement est 
      définitif, les parties seront libérées de leurs obligations dans les conditions prévues aux 
      articles 1351 et 1351-1 du Code civil.</p>
    <h2>Article 9. Résolution des différends</h2>
    <p>Les CGU sont soumises à la loi française. Toutes difficultés relatives à la validité, l'application 
      ou à l'interprétation des CGU seront soumises, à défaut d'accord amiable, au Tribunal de Grande 
      Instance de Paris, auquel les Parties attribuent compétence territoriale, quel que soit le lieu 
      d'exécution ou le domicile du défendeur. Cette attribution de compétence s'applique également en 
      cas de procédure en référé, de pluralité de défendeurs ou d'appel en garantie.</p>
  </div>
</main>
{% endblock %}
