{% extends 'base.html.twig' %}

{% block title %}Hello MentionslegalesController!{% endblock %}

{% block body %}
    <main>
      <h1>Mentions Légales</h1>
      <p>La société ECOIT est une société par actions simplifiée au capital de 150 000 € immatriculée au 
        RCS de Paris sous le n. 123 456 789 et dont le siège social est situé au 172 Boulevard Saint-Germain 
        75006 Paris, France (N° TVA intracommunautaire : FR 12 345 678 910). ECOIT est représentée par 
        Mme. Laure Dupont, sa Présidente.<br>
        ECOIT est un établissement privé d’enseignement à distance et nous fournissons nos services sur 
        une plateforme.<br>
        Le site est hébergé par Heroku Web Services.<br>
        Nous contacter</p>
      <ul>
        <li>Par email : ecoitgestion@gmail.com</li>
        <li>Par courrier : ECOIT, 172 Boulevard Saint-Germain - 75006 Paris, France</li>
      </ul>
      <p>Vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, 
        que vous pouvez exercer par email ou par courrier. Vous pouvez également, pour des motifs légitimes, 
        vous opposer au traitement des données vous concernant.<br>
        Pour plus d’informations sur tous vos droits vous pouvez vous référer à notre nos Conditions 
        Générales d'Utilisation.</p>
    </main>
{% endblock %}
